description = "Home Page Layout"

[staticPage]
==
{variable name="col-1-title" label="Columna 1 titulo" tab="Traducciones" type="text"}{/variable}
{variable name="col-1-text" label="Columna 1 texto" tab="Traducciones" type="richeditor"}{/variable}

{variable name="col-2-title" label="Columna 2 titulo" tab="Traducciones" type="text"}{/variable}
{variable name="col-2-text" label="Columna 2 texto" tab="Traducciones" type="richeditor"}{/variable}

{variable name="col-3-title" label="Columna 3 titulo" tab="Traducciones" type="text"}{/variable}
{variable name="col-3-text" label="Columna 3 texto" tab="Traducciones" type="richeditor"}{/variable}

{variable name="col-4-title" label="Columna 4 titulo" tab="Traducciones" type="text"}{/variable}
{variable name="col-4-text" label="Columna 4 texto" tab="Traducciones" type="richeditor"}{/variable}

{variable name="works" label="Obras" tab="Traducciones" type="text"}{/variable}

{variable name="location" label="Locacion" tab="Traducciones" type="richeditor"}{/variable}

{variable name="contact_us" label="Contáctenos" tab="Traducciones" type="text"}{/variable}
{variable name="name" label="Nombre" tab="Traducciones" type="text"}{/variable}
{variable name="company" label="Empresa" tab="Traducciones" type="text"}{/variable}
{variable name="email" label="Email" tab="Traducciones" type="text"}{/variable}
{variable name="phone" label="Teléfono" tab="Traducciones" type="text"}{/variable}
{variable name="message" label="Mensaje" tab="Traducciones" type="text"}{/variable}
{variable name="send" label="Enviar" tab="Traducciones" type="text"}{/variable}

