description = "Menu Layout"

[staticPage]
==
{variable name="link-1-title" label="Titulo de link 1" tab="Traducciones" type="text"}{/variable}
{variable name="link-2-title" label="Titulo de link 2" tab="Traducciones" type="text"}{/variable}
{variable name="link-3-title" label="Titulo de link 3" tab="Traducciones" type="text"}{/variable}
{variable name="link-4-title" label="Titulo de link 4" tab="Traducciones" type="text"}{/variable}
{variable name="link-5-title" label="Titulo de link 5" tab="Traducciones" type="text"}{/variable}

{% page %}
