<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <base href="/test/amilibia/">
    <title>amilibia</title>

    <!-- Le styles -->
    <link href="js/libraries/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="js/libraries/jquery-flipster/dist/jquery.flipster.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body ng-app="myApp" class="page-home" ng-class="loading ? 'loading' : 'loaded'">

    <header>
        <a href="index.html#top" class="logo" title="amilibia marinas">amilibia marinas</a>
        <h1>Home</h1>
        <div class="burger-menu">
            <div class="slice"></div>
            <div class="slice"></div>
            <div class="slice"></div>
        </div>
    </header>

    <nav>
        <a href="index.html#top">{{ pagesData.menu['link-1-title'] }}</a>
        <a href="products">{{ pagesData.menu['link-2-title'] }}</a>
        <a href="index.html#works">{{ pagesData.menu['link-3-title'] }}</a>
        <a href="index.html#location">{{ pagesData.menu['link-4-title'] }}</a>
        <a href="index.html#contact">{{ pagesData.menu['link-5-title'] }}</a>
        <span class="languages">
            <a ng-click="setLocale('es')" ng-class="locale == 'es' ? 'selected' : ''">ES</a>
            <a ng-click="setLocale('en')" ng-class="locale == 'en' ? 'selected' : ''">EN</a>
        </span>
    </nav>


    <main ng-view></main>


    <footer ng-class="loading ? 'loading' : ''">

        <div class="container">
            <div class="row">

                <div class="col-sm-4" ng-bind-html="trustAsHtml(pagesData.footer['col-1-text'])"></div>
                <div class="col-sm-4" ng-bind-html="trustAsHtml(pagesData.footer['col-2-text'])"></div>
                <div class="col-sm-4" ng-bind-html="trustAsHtml(pagesData.footer['col-3-text'])"></div>

            </div>
        </div>
        
    </footer>

	<!-- Le javascript -->
	<!-- Placed at the end of the document so the pages load faster -->

    <!-- Libraries -->
    <script src="js/libraries/jquery/dist/jquery.min.js"></script>
    <!-- <script src="js/libraries/jquery-validation/dist/jquery.validate.min.js"></script> -->
    <script src="js/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/libraries/angular/angular.min.js"></script>
    <script src="js/config/api.js"></script>
    <script src="js/app.js"></script>

    <!-- Modules -->
    <script src="js/libraries/angular-route/angular-route.min.js"></script>
    <script src="js/libraries/angular-sanitize/angular-sanitize.min.js"></script>

    <!-- Components -->
    <script src="js/components/home/home-controller.js"></script>
    <script src="js/components/products/products-controller.js"></script>

    <!-- more Libraries -->
    <script src="js/libraries/jquery-flipster/dist/jquery.flipster.min.js"></script>

</body>
</html>