description = "Footer Layout"

[staticPage]
==

{variable name="col-1-1-text" label="Línea 1 Columna 1" tab="Traducciones" type="richeditor"}{/variable}
{variable name="col-1-2-text" label="Línea 1 Columna 2" tab="Traducciones" type="richeditor"}{/variable}
{variable name="col-1-3-text" label="Línea 1 Columna 3" tab="Traducciones" type="richeditor"}{/variable}

{variable name="col-2-1-text" label="Línea 2 Columna 1" tab="Traducciones" type="richeditor"}{/variable}
{variable name="col-2-2-text" label="Línea 2 Columna 2" tab="Traducciones" type="richeditor"}{/variable}
{variable name="col-2-3-text" label="Línea 2 Columna 3" tab="Traducciones" type="richeditor"}{/variable}


