
<div class="container">

			<h2 class="section-title">PRODUCTOS</h2>
			
			<div class="products">

				<article id="pasarelas">
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div class="icon" style="background-image:url(images/products/icon1.png)"></div>
							<h3>Pasarelas</h3>
						</div>
						<main class="col-md-8">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</main>
					</div>
					<hr>
					<img src="images/products/product_1.jpg" alt="Pasarelas" class="image">
				</article>

				<article id="atrnuadores-oleaje">
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div class="icon" style="background-image:url(images/products/icon2.png)"></div>
							<h3>ATENUADORES OLEAJE</h3>
						</div>
						<main class="col-md-8">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</main>
					</div>
					<hr>
					<img src="images/products/product_2.jpg" alt="Pasarelas" class="image">
				</article>

				<article id="instalaciones">
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div class="icon" style="background-image:url(images/products/icon3.png)"></div>
							<h3>INSTALACIONES para REMO Y VELA</h3>
						</div>
						<main class="col-md-8">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</main>
					</div>
					<hr>
					<img src="images/products/product_3.jpg" alt="Pasarelas" class="image">
				</article>



			</div><!-- /.row -->
			
		</div><!-- /.container -->