
		<section id="top">
			<div class="background"></div>
			<div class="logo"></div>
		</section>

		<section id="intro">
			<div class="container">
				<div class="row">

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon1.png" alt=""></div>
						<h4>{{ pagesData.home['col-1-title'] }}</h4>
						<div ng-bind-html="trustAsHtml(pagesData.home['col-1-text'])"></div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon2.png" alt=""></div>
						<h4>{{ pagesData.home['col-2-title'] }}</h4>
						<div ng-bind-html="trustAsHtml(pagesData.home['col-2-text'])"></div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon3.png" alt=""></div>
						<h4>{{ pagesData.home['col-3-title'] }}</h4>
						<div ng-bind-html="trustAsHtml(pagesData.home['col-3-text'])"></div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon4.png" alt=""></div>
						<h4>{{ pagesData.home['col-4-title'] }}</h4>
						<div ng-bind-html="trustAsHtml(pagesData.home['col-4-text'])"></div>
					</div>

				</div>
			</div>
		</section>


		<section id="products">

			<div class="container">

				<h2 class="section-title">{{ pagesData.products['title'] }}</h2>
				<div class="products row">

					<article class="col-md-3 col-xs-6" ng-repeat="product in productsData">
						<a href="products#product-{{ product.id }}">
							<div class="icon" style="background-image:url({{ product.icon.path }})"></div>
							<h4>{{ product.name }}</h4>
						</a>
					</article>


				</div><!-- /.row -->
				
			</div><!-- /.container -->
		</section>


		<section id="works">
			<h2 class="section-title">{{ pagesData.home['works'] }}</h2>
			

				<div class="works">
					<div class="wrap">

					    <div class="item" ng-repeat="image in worksData" ng-init="$last && onWorksRendered()">
					    	<img src="{{ image.path }}" alt="">
					    	<div class="title">{{ image.title }}</div>
					    </div>

				    </div>
				</div>
				


		</section>


		<section id="location">

			<div class="container">
				
				<div class="map"></div>
				
				<main ng-bind-html="trustAsHtml(pagesData.home['location'])"></main>

			</div>


		</section>


		<section id="contact">

			<div class="container">
				<h3>Contáctenos</h3>
				<form id="contact-form" action="#">
					<div class="row">
						<div class="form-group col-sm-6">
							<input class="form-control" type="text" name="name" placeholder="Nombre">
						</div>
						<div class="form-group col-sm-6">
							<input class="form-control" type="text" name="name" placeholder="Empresa">
						</div>
						<div class="form-group col-sm-6">
							<input class="form-control" type="email" name="email" placeholder="Email">
						</div>
						<div class="form-group col-sm-6">
							<input class="form-control" type="text" name="tel" placeholder="Teléfono">
						</div>
					</div>
					<div class="form-group">
						<textarea name="message" class="form-control" placeholder="Mensaje"></textarea>
		    		</div>	
					<div class="row">
						<div class="col-xs-6">
						</div>
						<div class="col-xs-6 text-right">
							<button type="submit" class="btn">Enviar</button>
						</div>
					</div>
				</form>

				<small>
					<p>
						Privacy Policy <br>
	In accordance with what is established by the Organic Law 15/1999 on personal data protection, and Law 34/2002, of 11 July on information-society services, we inform you that all personal data you give us are confidential and will form part of The Yes Brand's files with the purpose of processing your booking or request. You can exercise your rights to access, contest, modify or delete this data, by writing to Calle Platón, 20 2º 1ª (esquina Muntaner), 08006 Barcelona, SPAIN, including a photocopy of your passport or identity card. You can withdraw your permission at any time by email at ...
					</p>
				</small>
				
			</div>

		</section>