
		<section id="top">
			<div class="background"></div>
			<div class="logo"></div>
		</section>

		<section id="intro">
			<div class="container">
				<div class="row">

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon1.png" alt=""></div>
						<h4>INNOVACIÓN</h4>
						<p>Nuestro departamento de I+D+i ensaya con nuevos materiales y desarrolla nuevos productos más resistentes y mejor adaptados al desgaste propiciado por el medio marino.</p>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon2.png" alt=""></div>
						<h4>EQUIPO HUMANO</h4>
						<p>Generamos planes de formación específicos para cada profesional con el fin de que nuestros clientes se sientan respaldados y acompañados en cada fase del desarrollo del proyecto. </p>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon3.png" alt=""></div>
						<h4>VOCACIÓN GLOBAL</h4>
						<p>Aunque Amilibia Marinas nació como una pequeña empresa familiar; la empresa cuenta hoy con representantes en casi los cinco continentes y ha realizado obras en diferentes países.     </p>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="icon"><img src="images/home/icon4.png" alt=""></div>
						<h4>SERVICIO 360º</h4>
						<p>Amilibia Marinas realiza todo el proceso sin tener que depender de proveedores externos; diseñamos, construimos e instalamos, cuidando los detalles al máximo. </p>
					</div>

				</div>
			</div>
		</section>


		<section id="products">

			<div class="container">

				<h2 class="section-title">PRODUCTOS</h2>
				<div class="products row">

					<article class="col-md-3 col-xs-6">
						<a href="products.html#pasarelas">
							<div class="icon" style="background-image:url(images/products/icon1.png)"></div>
							<h4>Pasarelas</h4>
						</a>
					</article>


					<article class="col-md-3 col-xs-6">
						<a href="products.html#atrnuadores-oleaje">
							<div class="icon" style="background-image:url(images/products/icon2.png)"></div>
							<h4>ATENUADORES OLEAJE</h4>
						</a>
					</article>

					<article class="col-md-3 col-xs-6">
						<a href="products.html#instalaciones">
							<div class="icon" style="background-image:url(images/products/icon3.png)"></div>
							<h4>INSTALACIONES para REMO Y VELA</h4>
						</a>
					</article>

					<article class="col-md-3 col-xs-6">
						<a href="products.html#pasarelas">
							<div class="icon" style="background-image:url(images/products/icon4.png)"></div>
							<h4>Pasarelas</h4>
						</a>
					</article>

				</div>
				<div class="products row">

					<article class="col-md-3 col-xs-6">
						<a href="products.html#pasarelas">
							<div class="icon" style="background-image:url(images/products/icon5.png)"></div>
							<h4>Pasarelas</h4>
						</a>
					</article>

					<article class="col-md-3 col-xs-6">
						<a href="products.html#pasarelas">
							<div class="icon" style="background-image:url(images/products/icon6.png)"></div>
							<h4>Pasarelas</h4>
						</a>
					</article>

					<article class="col-md-3 col-xs-6">
						<a href="products.html#pasarelas">
							<div class="icon" style="background-image:url(images/products/icon7.png)"></div>
							<h4>Pasarelas</h4>
						</a>
					</article>

					<article class="col-md-3 col-xs-6">
						<a href="products.html#pasarelas">
							<div class="icon" style="background-image:url(images/products/icon8.png)"></div>
							<h4>Pasarelas</h4>
						</a>
					</article>

				</div><!-- /.row -->
				
			</div><!-- /.container -->
		</section>


		<section id="works">
			<h2 class="section-title">Obras</h2>
			

				<div class="works">
					<div class="wrap">
					    <div class="item">
					    	<img src="images/works/1.jpg" alt="">
					    	<div class="title">Llanes</div>
					    </div>
					    <div class="item">
					    	<img src="images/works/2.jpg" alt="">
					    	<div class="title">Llanes</div>
					    </div>
					    <div class="item">
					    	<img src="images/works/3.jpg" alt="">
					    	<div class="title">Llanes</div>
					    </div>
					    <div class="item">
					    	<img src="images/works/4.jpg" alt="">
					    	<div class="title">Llanes</div>
					    </div>
				    </div>
				</div>
				


		</section>


		<section id="location">

			<div class="container">
				
				<div class="map"></div>
				
				<main>
					<h4>SEDE CENTRAL</h4>
					<p>
						<strong>España:</strong><br>
						Gipuzkoa
					</p>

					<h4>DELEGACIÓNES</h4>
					<p>
						<strong>España:</strong><br>
						Pontevedra / Barcelona
					</p>
					<p>
						<strong>Puerto Rico:</strong><br>
						San Juan
					</p>
					<p>
						<strong>Brasil:</strong><br>
						Rio de Janeiro
					</p>
					<p>
						<strong>Estados Unidos:</strong><br>
						Miami
					</p>
				</main>

			</div>


		</section>


		<section id="contact">

			<div class="container">
				<h3>Contáctenos</h3>
				<form id="contact-form" action="#">
					<div class="row">
						<div class="form-group col-sm-6">
							<input class="form-control" type="text" name="name" placeholder="Nombre">
						</div>
						<div class="form-group col-sm-6">
							<input class="form-control" type="text" name="name" placeholder="Empresa">
						</div>
						<div class="form-group col-sm-6">
							<input class="form-control" type="email" name="email" placeholder="Email">
						</div>
						<div class="form-group col-sm-6">
							<input class="form-control" type="text" name="tel" placeholder="Teléfono">
						</div>
					</div>
					<div class="form-group">
						<textarea name="message" class="form-control" placeholder="Mensaje"></textarea>
		    		</div>	
					<div class="row">
						<div class="col-xs-6">
						</div>
						<div class="col-xs-6 text-right">
							<button type="submit" class="btn">Enviar</button>
						</div>
					</div>
				</form>

				<small>
					<p>
						Privacy Policy <br>
	In accordance with what is established by the Organic Law 15/1999 on personal data protection, and Law 34/2002, of 11 July on information-society services, we inform you that all personal data you give us are confidential and will form part of The Yes Brand's files with the purpose of processing your booking or request. You can exercise your rights to access, contest, modify or delete this data, by writing to Calle Platón, 20 2º 1ª (esquina Muntaner), 08006 Barcelona, SPAIN, including a photocopy of your passport or identity card. You can withdraw your permission at any time by email at ...
					</p>
				</small>
				
			</div>

		</section>