
<section id="productos">
	<div class="container">

		<h2 class="section-title">{{ pagesData.products['title'] }}</h2>
		
		<div class="products">

			<article ng-repeat="product in productsData" id="{{ product.slug }}" ng-init="$last && onProductsRendered()">
				<hr>
				<div class="row row-flex">
					<div class="col-md-4">
						<div class="icon" style="background-image:url({{ product.icon.path }})"></div>
						<h3>{{ product.name }}</h3>
					</div>
					<main class="col-md-8" ng-bind-html="trustAsHtml(product.description)"></main>
				</div>
				<hr>
				<div class="gallery">
					<img 
						class="image" 
						ng-repeat="image in product.images" 
						ng-src="{{ image.path_resized }}" 
						ng-srcset="{{ image.path_resized_2x }} 2x" 
						alt="{{ image.title }}">
				</div>
			</article>


		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>