
section#productos .container { 
	max-width: 1300px;
}
section#productos h2.section-title {
	margin-top: 130px;
	margin-bottom: 130px;
}
section#productos .products {
	padding-bottom: 80px;
	margin-top: -40px;
}
section#productos .products article {
	padding-top: 40px;
}
section#productos .products article .icon { 
	width: 60px; 
	height: 40px;
	background-repeat: no-repeat; 
	background-position: center bottom; 
	background-size: contain; 
	margin: 30px auto 25px auto;
}
section#productos .products article h3 { 
	text-align: center; 
	text-transform: uppercase; 
	border-bottom: 1px solid #939393; 
	padding-bottom: 60px; 
	margin-bottom: 10px; 
	font-weight: normal;
}
section#productos .products article main { 
	font-size: 17px; 
	line-height: 160%; 
	border-left: 1px solid #939393; 
	padding-top: 15px;
}
section#productos .products article .image {
}

/* desktop */
@media screen and (min-width: 992px) {
	

	section#productos .products article h3 { 
		border-bottom: none; 
		padding-left: 25px; 
		padding-right: 25px;; 
	}
	section#productos .products article main { 
		padding-left: 35px; 
		padding-right: 35px; 
		padding-bottom: 15px; 
	}
	section#productos .products article .icon { 
		height: 40px; 
		width: 70px; 
		margin-top: 55px; 
		margin-bottom: 35px;
	}
	
}
