.DS_Store
*.log
/config/app.php
/config/database.php
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/cms/cache/*
/storage/cms/twig/*
/storage/temp/export/*
/storage/app/uploads/*
/storage/app/media/*
!empty