

/* Section top *********************************** */

section#top {
	height: calc(100vh);
	position: relative;
	background-image: url(../../../images/home/blanes.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	display: flex;
	/* flex-direction: column; */
	/* justify-content: end; */
	align-items: end;
}
section#top-text {
	position: absolute;
	transform: translateY(calc(-100% - 6vh));
	z-index: 2;
	width: 76%;
	margin: 0 12%;
	font-size: 26px;
	line-height: 1.3;
	color: #ffffff;
}

/* desktop */
@media screen and (min-width: 992px) {
	
	section#top {
		height: calc(100vh);
	}

}


/* Section intro *********************************** */

section#intro {
	text-align: center;
	background-image: url(../../../images/home/back2b.jpg);
	background-size: cover;
	background-position: center top;
	padding-bottom: 32%;
	background-repeat: no-repeat;
	position: relative;
	z-index: 3;
	background-color: #ffffff;
	min-height: 1400px;
	padding-top: 45px;
}
section#intro .icon {
	text-align: center;
	margin: 55px 0;
}
section#intro .icon img { 
	height: 42px;
}


/* Section products *********************************** */

section#products { 
	background-image: url(../../../images/home/back3.jpg); 
	background-size: contain; 
	background-position: center bottom;
	padding-bottom: 43%; 
	background-repeat: no-repeat; 
	position: relative; 
	z-index: 3; 
	background-color: #f6f6f8;
}
section#products .products {
}
section#products .products article { 
	text-align: center; 
	margin-top: 25px; 
	margin-bottom: 25px; 
	height: 120px;
}
section#products .products article a { 
	color: inherit;
}
section#products .products article .icon {
	height: 40px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	/* width: 60px; */
	margin: 0 auto 25px auto;
}
section#products .products article h4 { 
	text-transform: uppercase; 
	margin-top: 0px; 
	font-size: 16px; 
	display: inline-block;
}

/* desktop */
@media screen and (min-width: 992px) {

	section#products .products article .icon {
		height: 80px;
		/* width: 70px; */
	}

	section#products .products article h4 { 
		font-size: 20px; 
	}
}



/* Section works *********************************** */

section#works { 
	text-align: center; 
	padding-bottom: 50px; 
}
section#works h2.section-title { 
	margin-bottom: 50px; 
}
section#works .works { 
	padding-top: 30px; 
	padding-bottom: 30px; 
	min-height: 439px;
}
section#works .works .item { 
	position: relative; 
	height: 385px; 
	width: 580px; 
}
section#works .works .item img { 
	width: auto; 
	height: 386px; 
	box-shadow: 0px 4px 27px rgba(0,0,0,0.5); 
	cursor: pointer;
}
section#works .works .item .title { 
	position: absolute; 
	left: 50%; 
	transform: translateX(-50%); 
	text-transform: uppercase; 
	padding: 6px 20px; 
	border-radius: 6px; 
	min-width: 150px; 
	border: 6px; 
	bottom: -38px;
}

.flipster--coverflow .flipster__item__content {
	-webkit-box-reflect: unset;
}
.flipster__button { 
	top: auto; 
	bottom: 0; 
	margin: 0; 
	opacity: 0.75; 
	width: 35px; 
	height: 35px; 
	border: 4px solid #939393; 
	border-radius: 50%; 
	text-align: center; 
	padding-top: 3px; 
	box-sizing: border-box; 
	padding-left: 1px; 
	outline: none;
}
.flipster__button--prev {
	left: 50%;
	transform: translateX(-50px);
}
.flipster__button--next {
	left: 50%;
	transform: translateX(5px);
}
.flipster__button svg {
	width: 14px;
	stroke: #939393;
	stroke-width: 4px;
}

#worksModal .modal-body {
	padding: 0 0 15px 0;
}

#worksModal .modal-body .image {
	height: calc(100vh - 115px);
	background-size: cover;
	background-position: center center;
}

#worksModal .modal-body .image img { 
	max-height: calc(100vh - 145px);
}


#worksModal .prev, 
#worksModal .next {
	position: absolute;
	top: calc(50% - 45px);
	z-index: 10;
	transform: translateY(-50%);
	border: none;
	background: transparent;
	color: #ffffff;
	font-size: 60px;
	font-weight: bold;
	text-decoration: none !important;
	outline: none;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
} 
#worksModal .prev { 
	left: 20px;
} 
#worksModal .next { 
	right: 20px;
} 
#worksModal button.close {
	z-index: 55;
	position: absolute;
	top: 10px;
	right: 15px;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	color: #ffffff;
	font-size: 35px;
	font-weight: bold;
	opacity: 1;
	outline: none;
} 
#worksModal .modal-header .title { 
	text-align: center; 
	text-transform: uppercase; 
} 
#worksModal .gallery { 
	text-align: center; 
	padding-top: 15px; 
	padding-bottom: 5px; 
} 
#worksModal .gallery img { 
	height: 80px; 
	padding: 0 10px; 
	cursor: pointer;
} 



@media (min-width: 768px) {

	#worksModal {
		text-align: center;
		padding-right: 0 !important;
	}
	#worksModal .modal-dialog {
		width: 100%;
		display: inline-block;
		margin-bottom: 0;
		margin-top: 0;
	}

}

/* Section location *********************************** */

section#location { 
	position: relative; 
}
section#location .container { 
	position: relative;
}
section#location main { 
	background-color: rgba(0,38,68,0.07); 
	padding: 30px; 
}
section#location .map {position: relative;}
section#location .map img.image {
}
section#location .map .marker {
	position: absolute;
	/* width: 10px; */
	/* height: 10px; */
	/* background: red; */
}
section#location .map .marker a.icon {
	border: 2px solid #7e7e7f;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	transform: translate(-50%, -50%);
}
section#location .map .marker a.icon:hover, 
section#location .map .marker.open a.icon {
	border-color: #57c1e9;
}
section#location .map .marker a.icon::before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #7e7e7f;
	border-radius: 50%;
}
section#location .map .marker a.icon:hover::before,
section#location .map .marker.open a.icon::before {
	background-color: #57c1e9;
}
section#location .map .marker .info-window {
	position: absolute;
	background-color: rgba(255,255,255,0.98);
	z-index: 2;
	left: 20px;
	padding: 15px 15px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.35s, opacity 0.35s ease-out;
	margin: -28px 0 0 6px;
	width: 250px;
}
section#location .map .marker.open .info-window
/*section#location .map .marker:hover .info-window */
{
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
}
section#location .map .marker .info-window .arrow {
	content: '';
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid rgba(0,0,0,0.1);
	position: absolute;
	z-index: 2;
	left: -11px;
	margin: 4px 0 0 0;
}
section#location .map .marker .info-window .arrow::before {
	content: '';
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid rgba(255,255,255,1);
	position: absolute;
	/* z-index: 0; */
	left: 1px;
	margin: -10px 0 0 0;
}
section#location .map .marker .info-window h4.title {
	margin-top: 2px;
}


/* desktop */
@media screen and (min-width: 992px) {

	section#location .container { 
		min-height: 804px; 
	}
	section#location .map {
	} 
	section#location main { 
		position: absolute; 
		right: 0; 
		padding-top: 45%; 
		top: 0; 
		min-height: 100%;;
	}

}



/* Section contact *********************************** */

section#contact { 
	padding: 80px 0; 
}
section#contact form { 
	margin-bottom: 8px; 
}
