
<section id="top"></section>

<section id="intro">
	<div class="container">
		<div class="row">

			<div class="col-md-3 col-sm-6" translate="pages.home.column 1" translate-type="richeditor"></div>
			<div class="col-md-3 col-sm-6" translate="pages.home.column 2" translate-type="richeditor"></div>
			<div class="col-md-3 col-sm-6" translate="pages.home.column 3" translate-type="richeditor"></div>
			<div class="col-md-3 col-sm-6" translate="pages.home.column 4" translate-type="richeditor"></div>

		</div>
	</div>
</section>


<section id="products">

	<div class="container">

		<h2 class="section-title" translate="pages.home.Productos"></h2>
		<div class="products row">

			<article class="col-md-3 col-xs-6" ng-repeat="product in productsData">
				<a href="products#{{ product.slug }}">
					<div class="icon" style="background-image:url({{ product.icon.path }})"></div>
					<h4>{{ product.name }}</h4>
				</a>
			</article>


		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>


<section id="works">
	<h2 class="section-title" translate="pages.home.Obras"></h2>
	

	<div class="works">
		<div class="wrap">

		    <div
		    	class="item" 
		    	ng-repeat="image in worksData" 
		    	ng-init="$last && onWorksRendered()">
				    <img ng-src="{{ image.thumb }}" 
				    	data-toggle="modal" 
				    	data-target="#worksModal" 
				    	data-title="{{ image.title }}" 
				    	data-path="{{ image.path }}" 
				    	alt="{{ image.title }}">
		    		<div class="title">{{ image.title }}</div>
		    </div>

	    </div>
	</div>


</section>


<section id="location">

	<div class="container">
		
		<div class="map">

			<div ng-repeat="location in locationsData"
				ng-init="$last && onLocationsRendered()"
				class="marker" 
				style="left: {{ location.left}}%; top: {{ location.top }}%">
				<a class="icon" href="javascript:" title="{{ location.name }}"></a>
				<div class="info-window">
					<div class="arrow"></div>
					<h4 class="title">{{ location.name }}</h4>
					<div ng-bind-html="trustAsHtml(location.details)"></div>
				</div>
			</div>

			<img ng-src="{{ 'pages.home.mapa.Imagen' | translate }}" class="image" alt="">

		</div>
		
		<main translate="pages.home.mapa.Descripcion" translate-type="richeditor"></main>

	</div>


</section>


<section id="contact">

	<div class="container">
		<h3 translate="pages.home.formulario de contacto.titulo"></h3>
		<form id="my-form" ng-submit="submit()">
			<div class="row">
				<div class="form-group col-sm-6">
					<input class="form-control" type="text" ng-model="name" placeholder="{{ 'pages.home.formulario de contacto.Nombre' | translate }}" required>
				</div>
				<div class="form-group col-sm-6">
					<input class="form-control" type="text" ng-model="company" placeholder="{{ 'pages.home.formulario de contacto.Empresa' | translate }}">
				</div>
				<div class="form-group col-sm-6">
					<input class="form-control" type="email" ng-model="email" placeholder="{{ 'pages.home.formulario de contacto.E-mail' | translate }}" required>
				</div>
				<div class="form-group col-sm-6">
					<input class="form-control" type="text" ng-model="phone" placeholder="{{ 'pages.home.formulario de contacto.Telefono' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<textarea  ng-model="message" class="form-control" placeholder="{{ 'pages.home.formulario de contacto.Mensaje' | translate }}"></textarea>
    		</div>	
			<div class="row">
				<div class="col-xs-6">
				</div>
				<div class="col-xs-6 text-right">
					<button type="submit" class="btn" data-loading-text="<span class='glyphicon glyphicon-repeat gly-spin'></span> {{ 'pages.home.formulario de contacto.Enviando' | translate }} ..." translate="pages.home.formulario de contacto.Enviar"></button>
				</div>
			</div>
		</form>

		<p class="alert alert-success" ng-show="contactSent"><span class="glyphicon glyphicon-ok"></span> {{ 'pages.home.formulario de contacto.Mensaje enviado' | translate }}</p> 


		<small translate="pages.home.formulario de contacto.Politica de privacidad" translate-type="richeditor"></small>
		
	</div>

</section>